<div style="width: 100%;">
    <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr ng-repeat="user in userList">
            <td>
            <div style="width: 99%">
                <form id="newsletter"
                      style="margin-left: 14px; padding: 25px 25px 22px 13px; margin-top: 7px;">
                    <table style="width: 100%;">
                        <tr style="width: 100%">
                            <td style="width: 7%"><img src="{{user.profilePic}}"
                                                        alt="user" style="height: 65px; width: 70px;" /></td>
                            <td style="width: 87%; text-align: left; padding-left: 15px;">
                                <span class="userLabel">{{user.firstName}}&nbsp;</span>
                                <span class="userLabel">{{user.lastName}}&nbsp;</span>
                                <span class="userLabel">({{user.id}} )</span>
                                <br>
                                <span class="userLabel">{{user.email}}</span>
                                <br>
                                {{user.company.name}}
                            </td>
                            <td style="width: 3%">
                                <a ng-click="openPopUp()" href="#">
                                <img src="../resources/img/pencil.png" alt="user" style="height: 24px; width: 28px;" />
                                    </a>
                                </td>
                            </td>
                            <td style="width: 3%">
                                <a onclick="" href="#">
                                <img src="../resources/img/delete.png" alt="user" style="height: 24px; width: 28px;" />
                                    </a>
                            </td>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            </td>
        </tr>
    </table>
</div>

<div>
    <script type="text/ng-template" id="userModal">
        <div ng-include src="'partials/userUpdateActionModal.html'"></div>
    </script>
</div>